<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.ljw.shop.mapper.FunctionsMapper">
    <!--  查询管理员可以操作的功能模块编号集合 -->
    <select id="findFunctionIdsByAid" parameterType="Integer" resultType="java.lang.String">
        select distinct fid from role_functions
        where rid in (select rid from admin_role where aid=#{aid})
    </select>

    <!--    获取系统功能列表-->
    <select id="findAllFunctions" resultType="cn.ljw.shop.pojo.Functions">
        SELECT * FROM functions
    </select>

    <!--    根据id获取系统功能对象-->
    <select id="findFunctionsById" parameterType="Integer" resultType="cn.ljw.shop.pojo.Functions">
        SELECT * FROM functions Where id=#{id}
    </select>

</mapper>